
body{
    background-image: url(https://classes.codingbootcamp.cz/assets/classes/669/bg.svg);

    background-size: cover;

    height: 100vh;

    font-family: 'Dancing Script', cursive;
}


h1{
    text-align: center;

    font-size: 3em;
}

img{
    display: inline-block;
    margin: auto;

    width: auto;
    height: 25em;
    /* border: 1em solid aquamarine;
    border-radius: 10%; */
}

p{
    text-align: center;

    padding-top: 1em;

    font-size: 1.5em;
    width: 60%;

    margin: auto;

    

}

div{
    display: inline-block;
    width: 50%;

    /* width: fit-content; */
  
}